<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
  <body class="bg-light">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div th:replace="fragments.html :: study-banner"></div>
    <div class="container">
      <div th:replace="fragments.html :: event-form (mode = 'edit', action = '/study/' + ${study.path} + '/events/' + ${event.id} + '/edit')"></div>
      <div th:replace="fragments.html :: footer"></div>
    </div>
    <script type="application/javascript" th:src="@{/js/footer.js}"></script>
    <script type="application/javascript" th:src="@{/js/sign-up.js}"></script>
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript" th:src="@{/js/form.js}"></script>
  </body>
</html>